<!DOCTYPE html>
<html lang="en">
<head>
    <!---
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    --->
</head>
<body>

<a href="/baseinfo/edit/{{ person.pk }}/"  class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal2">
    编辑 <span class="fa fa-edit"></span></a>

<table class="table ">
    <tr>
        <td class="col-md-2  col-lg-1">姓名： {{ person.name|default:_('')  }}</td>
        <td class="col-md-1  col-lg-1">病历号： {{ person.idnum |default:_('') }}</td>
        <td class="col-md-1  col-lg-1">患者类型： {{ person.patientType|default:_('')  }}</td>
    </tr>
    <tr>
        <td>生日: {{ person.birth|default:_('')  }}</td>
        <td>年龄: _</td>
        <td>性别: {{ person.sex|default:_('')  }}</td>
    </tr>
    <tr>
        <td>手机:  {{ person.mobile|default:_('')  }}</td>

        <td>QQ: {{ person.qq |default:_('') }}</td>
        <td>微信: {{ person.weixin |default:_('') }}</td>
    </tr>
    <tr>
        <td>住址: {{ person.homeAddress|default:_('')  }}</td>
        <td>易看牙ID：{{ person.linkedcareId|default:_('')  }}</td>
    </tr>
    <tr>
        <td>备注:  {{ person.comment|default:_('')  }}</td>
        <td></td>
    </tr>
</table>

<script>
    function gotoBaseEdit() {
        $.get('/baseinfo/edit/{{ person.pk }}/', function (r) {
            $("#detail3").html(r);
        });
    }

     $(function () {
        $('#myModal2').on('hidden.bs.modal', function (e) {
          // do something...//alert("做些操作");
            $(this).removeData("bs.modal");
        });
    });
</script>

<!-- 编辑 模态框（Modal） -->
<div class="modal " id="myModal2" tabindex="-2" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>