<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
           编辑病历
        </h4>
     </div>

    <div class="modal-body">
         <form action="{% url 'record:editRecord' ppk  pk %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input class="btn btn-primary" type="submit" value="提交" />
        </form>
    </div>

<script>
    //日期时间选择器
         {#$('#datetimepicker2').datetimepicker({#}
         {#    showTodayButton:true,#}
         {#    format:'YYYY-MM-DD',#}
         {#});#}
</script>
</body>
</html>