<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

    <form action="/record/new/{{ pk }}/" method="POST">
        {% csrf_token %}
      <div class="form-group">
        <label for="complain" class="control-label">主诉</label>
        <input id="complain" name="complain" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="exam" class="control-label">检查</label>
        <textarea id="exam" name="exam" cols="40" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="treat" class="control-label">处置</label>
        <textarea id="treat" name="treat" cols="40" rows="4" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="note" class="control-label">医嘱</label>
        <textarea id="note" name="note" cols="40" rows="2" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">保存</button>
      </div>
    </form>

</body>
</html>