{% extends 'base.html' %}
{% load static %}

{% block title %}病历管理系统
{% endblock %}

{% block link %}
    {#    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>#}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
    <li class="breadcrumb-item active">{{ persons.name }}</li>
{% endblock %}

{#{% block stylesheet %}#}
{#    <style>#}
{#        ul {#}
{#            list-style-type: none;#}
{#            margin: 0;#}
{#            padding: 0;#}
{#            display: inline;#}
{#        }#}
{##}
{#        li.pic {#}
{#            display: inline;#}
{#            border-radius: 3px;#}
{#            margin: 6px;#}
{##}
{#        }#}
{##}
{#        img {#}
{#            max-height: 100px;#}
{#        }#}
{##}
{#        .infocard {#}
{#            margin: 12px;#}
        {#background-color: rgba(236,236,255,0.47);#}{#background-color: #fff;#} border-radius: 3px;
{#            box-shadow: 0 2px 3px rgba(0, 0, 0, .1);#}
{#            border-bottom: 1px solid #e2e2e2;#}
{##}
{#            border-left: 0.3em solid rgb(66, 185, 131);#}
{#            padding-left: 0.7em;#}
{#            padding-bottom: 0.9em;#}
{#            padding-top: 0.9em;#}
{#            font-size: 1.0em;#}
{#            color: #888;#}
{#            background: none repeat scroll 0 0 rgba(66, 185, 131, 0.13);#}
{#            margin-bottom: 0.5em;#}
{#            margin-top: 0.5em;#}
{#        }#}
{##}
{#        .infocard:hover {#}
{#            margin: 12px;#}
        {#background-color: rgba(236,236,255,0.47);#} background-color: #23aeff;
{#            border-radius: 3px;#}
{#            box-shadow: 0 2px 3px rgba(0, 0, 0, .1);#}
{#            border-bottom: 1px solid #e2e2e2;#}
{##}
{#            border-left: 0.3em solid rgb(66, 185, 131);#}
{#            padding-left: 0.7em;#}
{#            padding-bottom: 0.9em;#}
{#            padding-top: 0.9em;#}
{#            font-size: 1.0em;#}
{#            color: #888;#}
        {#background: none repeat scroll 0 0 rgba(66, 185, 131, 0.13);#} margin-bottom: 0.5em;
{#            margin-top: 0.5em;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}


{% block content %}

    <script>
        {#toastr.info('道路千万条，安全第一条。','流浪地球')#}
    </script>

    <!--  抬头的info Box --->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-user-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">患者总数</span>
                    <span class="info-box-number">{{ total_person_num }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">上传次数</span>
                    <span class="info-box-number">{{ total_posts_num }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-picture-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">照片总量</span>
                    <span class="info-box-number">{{ total_img_num }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-pencil-square-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">病历记录</span>
                    <span class="info-box-number">{{ total_record_num }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>


    <!--  主体列表  -->
    <div class="col-md-9">
        {% if persons %}
            <div class="box box-danger col-md-6">
            <div class="box-header with-border">
                <h3 class="box-title">最近一周更新的患者</h3>

                <div class="box-tools pull-right">
                    <span class="label label-danger">{{ total_person_newly_updated }} New Members</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    {% for p in persons %}
                        <li>
                            {% if p.icon %}
                                <img src="{{ p.icon }}" alt="User Image" title="" style="width: 120px;height: 120px;">
                            {% else %}
                                <img src="{% static 'logo-zdl-grey.png' %}" alt="User Image" title=""
                                     style="width: 120px;height: 120px; background-color: #00a65a">
                            {% endif %}
                            <a class="users-list-name" href="{% url 'boards:person_detail' p.pk %}">{{ p.name }}</a>
                            <span class="users-list-date">{{ p.idnum }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="javascript:void(0)" class="uppercase">View All Users</a>
            </div>
            <!-- /.box-footer -->
        </div>
    {% endif %}


    </div>



    {#<div class="col-lg-12 col-sm-12  row">#}
    {#    <br>#}
    {#    <div class="md-8 ">#}
    {#        <a href="{% url 'new_person'  %}" class="btn btn-primary">添加新患者</a>#}
    {#    </div>#}
    {##}
    {#    <div class="row">#}
    {#        {% for person in persons %}#}
    {#            <div class="infocard row" pk="{% url 'person_detail' person.pk %}">#}
    {#                <div class="col-md-2">#}
    {#                    <div>#}
    {#                      <h4>{{ person.name }}</h4>#}
    {#                    <a href="{% url 'person_detail' person.pk %}"><h4>{{ person.name }}</h4></a>#}
    {#            <small class="text-muted d-block">{{ person.idnum}}</small>#}
    {#                    </div>#}
    {#                    <div>{{ person.idnum|default:_('') }}</div>#}
    {#                    <div> <span class="label label-success">{{ person.posts.count|default:_('')  }} </span></div>#}
    {#                </div>#}
    {##}
    {##}
    {#                <div class="col-md-10">#}
    {#                    {% with p=person.posts.first  %}#}
    {#                        {% if p %}#}
    {#                            <ul >#}
    {#                                {% for img in p.images.all %}#}
    {#                                    {% if forloop.counter < 5 %}#}
    {#                                        <li class="pic">#}
    {#                                         <img  src="{{ img.thumbnail }}" >#}
    {#                                        </li>#}
    {#                                    {% endif %}#}
    {#                                {% endfor %}#}
    {#                            </ul>#}
    {#                        {% else %}#}
    {#                            <p class="text-muted d-block">暂无照片</p>#}
    {#                        {% endif %}#}
    {#                    {% endwith %}#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
    {##}


    <!--- 分页 ---->
    {#    {% if persons.has_other_pages %}#}
    {#      <nav aria-label="persons pagination" class="mb-4">#}
    {#        <ul class="pagination">#}
    {#          {% if persons.has_previous %}#}
    {#            <li class="page-item">#}
    {#              <a class="page-link" href="?page={{ persons.previous_page_number }}">上一页</a>#}
    {#            </li>#}
    {#          {% else %}#}
    {#            <li class="page-item disabled">#}
    {#              <span class="page-link">上一页</span>#}
    {#            </li>#}
    {#          {% endif %}#}
    {#          <li class="page-item active">#}
    {#            <span class="page-link">#}
    {#              {{ persons.number }}#}
    {#              <span class="sr-only">(current)</span>#}
    {#            </span>#}
    {#          </li>#}
    {##}
    {##}
    {#          {% if persons.has_next %}#}
    {#            <li class="page-item">#}
    {#              <a class="page-link" href="?page={{ persons.next_page_number }}">下一页</a>#}
    {#            </li>#}
    {#          {% else %}#}
    {#            <li class="page-item disabled">#}
    {#              <span class="page-link">下一页</span>#}
    {#            </li>#}
    {#          {% endif %}#}
    {##}
    {#        </ul>#}
    {#      </nav>#}
    {#    {% endif %}#}

    </div>


    <!--- 标签 --->

    {#<div class="col-lg-4 col-sm-12 col-md-4">#}
    {#    <div class="panel panel-default">#}
    {#      <div class="panel-body">#}
    {#        <a class="label label-danger" href="/ss/" style="display: inline-block; margin-bottom: 10px; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05)"> 高级搜索</a>#}
    {##}
    {#        {% include 'tag_list.html' %}#}
    {#      </div>#}
    {#    </div>#}
    {##}
    {#    <div class="panel panel-default">#}
    {#      <div class="panel-body">#}
    {#        <h5> 所有患者数目：{{ total_person_num }}</h5>#}
    {#      </div>#}
    {#    </div>#}
    {#    <div class="panel panel-default">#}
    {#      <div class="panel-body">#}
    {#        <h5> 请定期同步数据库</h5>#}
    {#      </div>#}
    {#    </div>#}
    {##}
    {#</div>#}

    <script>
        $(".infocard").click(function () {
            let pk = $(this).attr("pk")

            window.location.href = pk
        })

    </script>


{% endblock %}