/*.navbar-brand{*/
    /*width: auto;*/
    /*height: 80px;*/
    /*float: left;*/
    /*margin-top: -30px;*/
/*}*/

/*.navbar .navbar-brand {*/
    /*position: relative;*/
    /*background-image: url('/static/logo.png');*/
    /*background-size: 36px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left 50%;*/
    /*padding-left: 36px;*/
    /*font-size: 20px;*/
    /*letter-spacing: -0.04rem;*/
    /*color: white;*/
    /*min-height: 50px;*/
    /*padding-top: 15px;*/
    /*line-height: 20px;*/
/*}*/



/*.navbar-inverse .navbar-brand {*/
    /*color: #9d9d9d;*/
/*}*/

body {
  /*background-image: url(/static/w1080.jpeg);*/
  background-color: #e2e2e2;

}

.nav {
  /*background-color: #0593d3;*/
}
