/*.navbar-brand{*/
    /*width: auto;*/
    /*height: 80px;*/
    /*float: left;*/
    /*margin-top: -30px;*/
/*}*/

/*.navbar .navbar-brand {*/
    /*position: relative;*/
    /*background-image: url('/static/logo.png');*/
    /*background-size: 36px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left 50%;*/
    /*padding-left: 36px;*/
    /*font-size: 20px;*/
    /*letter-spacing: -0.04rem;*/
    /*color: white;*/
    /*min-height: 50px;*/
    /*padding-top: 15px;*/
    /*line-height: 20px;*/
/*}*/



/*.navbar-inverse .navbar-brand {*/
    /*color: #9d9d9d;*/
/*}*/

body {
  /*background-image: url(/static/w1080.jpeg);*/
    background-image: url(/static/img/bannerBg.jpg);
  background-color: #f9f9f9;

}

nav {
  background-color: #f5f9fb61;
  /*background-color: #2d8cf0;*/
  color: #0D0A0A;
  /*border-radius: 3px;*/
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  border-bottom: 1px solid #e2e2e2;
}

img.brand {
  max-width: 200px; margin-left: -10px;  margin-top:-8px;  height: 200%;
}