{% extends 'base.html' %}
{% load static %}
{% block title %}患者详情{% endblock %}

{#{% block breadcrumb %}#}
{#  <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>#}
{#  <li class="breadcrumb-item active">患者信息</li>#}
{#{% endblock %}#}

{% block content %}

<!---个人信息 面板--->
 <div id="content" class="panel">
    <div class="panel-body " style="padding: 0px;">
        <div class="row">
             <div class=" col-md-1 hidden-xs">
                 {% if patient.icon %}
                    <img src="{{ patient.icon }}" style="height: 60px">
                 {% endif %}
                 {% if not patient.icon %}
                    <img src="{% static 'logo.png' %} " style="height: 60px">
                 {% endif %}
            </div>
            <div class=" col-md-2 col-sm-4 col-xs-4" style="margin-top: -20px" >
                <h2 ><a href= {% url 'person_detail' patient.pk %}>{{ patient.name|default:_('')  }}</a> </h2>
            </div>
            <div class="row col-md-8 col-sm-8 col-xs-8">
                <div class="col-md-2 col-sm-2 col-xs-6">病历号：{{ patient.idnum |default:_('') }}</div>
                <div class="col-md-4 col-sm-4 col-xs-6">备注：{{ patient.comment |default:_('') }}</div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                    <a href="/down/{{ patient.pk }}/" class="label label-warning">打包下载</a>
                </div>

                <div class="col-md-1 col-sm-1 col-xs-2">
                    <a href="/admin/boards/person/{{ patient.pk }}/change/" class="label label-danger">编辑信息</a>
                </div>

                <div class="col-md-12 col-xs-12">标签：
                    {% for t in patient.tags.all %}
                        <a class="label label-success" style="display: inline-block;" href="/tags/{{ t.name }}"
                           title="{{ t.name }}">
                            {{ t.name }}
                            <span class="badge">{{ count }}</span>
                        </a>
                    {% endfor %}
                     <a href="/addtag/{{ patient.pk }}/" class="label label-danger">添加标签</a>

                </div>
            </div>


        </div>
    </div>

 </div>

<!--- 导航栏  --->
{#<ul id="navtab"  class="nav nav-tabs" style="margin-top: -15px">#}
{#    <li class="active"><a href={% url 'posts'  patient.pk  %} target="iframe_a">图像</a></li>#}
{#    <li ><a href={% url 'posts_xray'  patient.pk  %} target="iframe_a">x线</a></li>#}
{##}
{#    <li ><a  href="/baseinfo/{{patient.pk}}" target="iframe_a">基本信息</a></li>#}
{#    <li><a href={% url 'record:recordHome' patient.pk%} target="iframe_a">病历</a></li>#}
{#    <li><a href={% url 'charge_record:allCharge' patient.pk%} target="iframe_a">收费</a></li>#}
{#    <li><a  target="iframe_a">其他</a></li>#}
{#</ul>#}
    <!---内部框架--->
{# <iframe src='{% url 'posts'  patient.pk  %}'  width="100%" height="600" name="iframe_a" id="iframepage" frameborder="0"  marginheight="0" marginwidth="0"  >#}
{##}
{# </iframe>#}

<script>
    $(document).ready(function(){
        //激活标签
        $("ul#navtab li").click(function(){
              $("li.active").attr("class", "");
              $(this).attr("class", "active");
        });

        //设置首tab
{#        {% if first_tab %}#}
{#            switch ({{ first_tab }}) {#}
{#                case 0: gotoPic(); break;#}
{#                case 1: gotoXray(); break;#}
{#                case 2: gotoBase(); break;#}
{#                case 3: gotoRecord(); break;#}
{#                case 4: gotoCharge(); break;#}
{#                case 5:  ; break;#}
{#            }#}
{#        {% else %}#}
{#            gotoPic();#}
{#        {% endif %}#}
            gotoPic();

    });

    function gotoPic() {
        $.get('/posts/{{ patient.pk }}/', function (r) {
            $("#detail3").html(r);
        });
    }

    function gotoXray() {
        $.get('/posts_xray/{{ patient.pk }}/', function (r) {
            $("#detail3").html(r);
        });
    }
    function gotoBase() {
        $.get('/baseinfo/{{ patient.pk }}/', function (r) {
            $("#detail3").html(r);
        });
    }
    function gotoRecord() {
        $.get('/record/{{ patient.pk }}/', function (r) {
            $("#detail3").html(r);
        });
        {#$("li.active").attr("class", "");#}
        {#$(this).attr("class", "active");#}
    }
    function gotoCharge() {
        $.get('/charge/{{ patient.pk }}/', function (r) {
            $("#detail3").html(r);
        });
    }
</script>

<!--- 导航栏  --->
<ul id="navtab"  class="nav nav-tabs" style="margin-top: -15px">
    <li class="active" onclick="gotoPic()"><a href="#">图像</a></li>
    <li onclick="gotoXray()"><a href="#">X线</a></li>

    <li onclick="gotoBase()"><a  href="#">基本信息</a></li>
    <li onclick="gotoRecord()"><a href="#">病历</a></li>
    <li onclick="gotoCharge()"><a href="#">收费</a></li>
    <li><a  href="#">其他</a></li>
</ul>

<div id="detail3">

</div>
{% endblock %}