{% load static %}

    <script src="{% static 'js/timeline-modernizr.custom.js' %}"></script>
    <!---时间线http://www.jq22.com/jquery-info164-->
    <link href="{% static 'css/timeline-component.css' %}" rel="stylesheet">

    <link href="{% static 'css/lightgallery.css' %}" rel="stylesheet">
    <!--- 播放器来自   http://www.htmleaf.com/jQuery/Image-Effects/201806195182.html           --->

<!--- 按钮栏-->
<div class=" row">

    <div class="col-md-3">
        {% if isXray == True %}
            <a onclick="gotoNewXray()" class="btn btn-primary btn-sm">
                添加X线片 <span class="fa fa-plus-circle"></span> </a>
            <a  href="{% url 'sync_xray' patient.pk %}" class="btn btn-warning btn-sm">
                同步易看牙影像 <span class="fa fa-rotate-right"></span></a>

        {% else %}
            <a onclick="gotoNewPic()" class="btn btn-primary btn-sm">添加图像 <span class="fa fa-plus-circle"></span></a>
        {% endif %}
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2 col-md-offset-8">
        <a href="/down/{{ patient.pk }}/" class="label label-default">
            打包下载 <span class="fa fa-arrow-circle-o-down"></span> </a>
    </div>
    <br>

</div>

<style>
    .box-inner-toolbar nosee{
        position: absolute;
        bottom: 10px;
        background-color: #a90707;
        display: none;
    }
    .box-inner-toolbar cansee{
        position: absolute;
        bottom: 10px;
        background-color: #a90707;
        display: block;
    }
</style>

<div>
  {% if posts %}
    <ul class="timeline">
        {% for post in posts.all  %}

            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-red">
                    {% if post.name %}
                        {{ post.name|default:_('') }}
                    {% else %}
                        {{ post.upLoadTime|date:'Y-m-d' }}
                    {% endif %}
                </span>
            </li>
            <!-- /.timeline-label -->

            <!-- timeline item -->
            <li>
                <!-- timeline icon -->
                <i class="fa fa-camera bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                    <h3 class="timeline-header"><a href="#"></a> {{ post.comment|default:_('') }}</h3>

                    <div class="timeline-body">
                          <ul id="lightgallery-{{forloop.counter}}" class="list-unstyled row box-inner" data-iframe="true">
                              {% for img in post.images.all %}

                                  <li class="col-xs-12 col-sm-4 col-md-2"  data-responsive="{{ img.thumbnail }} 375, {{ img.size_m }} 480, {{ img.size_m }} 600" data-src="{{ img.size_m }}"
                                      data-sub-html="<h4>{{post.person  }}</h4><p>{{ post.comment }}</p>">
                                        <a class="thumbnail" href="" onmouseenter="picMouseOver({{ img.pk }})"  onmouseleave="picMouseOut({{ img.pk }})">
                                            <img class="img-responsive" src="{{ img.thumbnail }}">
                                        </a>
{#                                        <div class="{{ img.pk }} box-inner-toolbar">#}
{#                                            <a class="label label-primary" href="/xxx">上</a>#}
{#                                            <a class="label label-primary" href="#">下</a>#}
{#                                            <a class="label label-primary" href="#">左</a>#}
{#                                            <a class="label label-primary" href="#">右</a>#}
{#                                            <a class="label label-primary" href="#">前</a>#}
{#                                            <a class="label label-primary" href="#">正</a>#}
{#                                            <a class="label label-primary" href="#">正笑</a>#}
{#                                            <a class="label label-primary" href="#">侧面</a>#}
{##}
{#                                        </div>#}
                                  </li>


                              {% endfor %}
                          </ul>
                    </div>

{#                    <div class="timeline-footer">#}
{#                        <a class="btn btn-primary btn-xs">...</a>#}
{#                    </div>#}
                </div>
            </li>
            <!-- END timeline item -->
      {% endfor %}
{% endif %}

</ul>
</div>


<script src="{% static 'js/lightgallery-all.min.js' %}"></script>
<script type="text/javascript">
    {% for post in posts.all %}
        $(document).ready(function(){
            $('#lightgallery-{{forloop.counter}}').lightGallery({
                thumbnail: 'false',
                {#selector: 'this',#}
                {#iframeMaxHeight: '80%',#}
                {#height:'70%',#}
                {#width:'800px',#}
                mousewheel:'false',
                {#iframeMaxWidth: '70%',#}
            });
        });
    {% endfor %}

    function gotoNewPic() {
        $.get('{% url 'addpost' patient.pk %}', function (r) {
            $("#detail3").html(r);
        });
    }
    function gotoNewXray() {
        $.get('{% url 'addpost_xray' patient.pk %}', function (r) {
            $("#detail3").html(r);
        });
    }

    function  picMouseOver(imgpk){
        var tool = $("."+imgpk);
        tool.removeClass().addClass('cansee');
        //tool.animate({left:'50px'});
        //console.log(imgpk)
    }
    function picMouseOut(imgpk){
        $("."+imgpk).css("display", "none");

    }

    $(document).ready(function () {
        {#$('.box-inner').hover(#}
        {#    function () {#}
        {#    $('.box-inner-toolbar').css("bottom", "0px");#}
        {##}
        {#    },#}
        {#    function () {#}
        {#        $('.box-inner-toolbar').css("bottom", "-60px");#}
        {##}
        {#    });#}
        {#$('.box-inner').mouseover(function () {#}
        {#    $('.box-inner').children('.box-inner-toolbar').css("bottom", "0px");#}
        {#   }#}
        {#);#}


    });
</script>


</div>
{#</body>#}
{#</html>#}