{% extends 'base.html' %}
{% load static %}
{% block title %}患者详情{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
  <li class="breadcrumb-item active">患者信息</li>
{% endblock %}

{% block content %}

{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">#}
{##}
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >#}
{#    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#</head>#}
{#<body>#}
{##}
{#<div  class="container">#}
    <script src="{% static '/js/moment.js' %}"></script>
    <script src="{% static '/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/bootstrap-datetimepicker.min.css' %}">
{% if msg %}

{#<div class="alert alert-success" role="alert">{{ msg }}#}
{#</div>#}
{% endif %}

<div class="col-md-7">
    <hr>
    <a class="btn btn-default" href="\task\add " data-toggle="modal" data-target="#myModal" title="添加新任务">添加<i class="glyphicon glyphicon-plus"></i></a>
</div>

<!-- 卡片-->
<div>
    {% if tasks %}
        {% for task in tasks %}
        <div class="panel panel-body col-md-7">
            <div class="row">
                <div style="background-color: #9fcdff">
                    <div class="col-md-11 col-xs-6">{{ task.name  }}  <small>{{ task.comment  }}</small></div>
                    <div class="col-md-1 col-xs-6">
                        <a href="\task\edit\{{ task.pk }}" data-toggle="modal"  data-target="#myModal2" title="修改"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="\task\del\{{ task.pk }}" onclick="return delete_data()" title="删除"><i class="glyphicon glyphicon-trash text-danger"></i></a>
                    </div>
                </div>


                <div>
                    <label class="label label-default">{{ task.get_group_display  }}</label>

                    {% if task.get_status_display   == '要做' %}
                        <label class="label label-warning">{{ task.get_status_display  }}</label>
                    {% elif task.get_status_display   == '已发送'  %}
                        <label class="label label-info">{{ task.get_status_display  }}</label>
                    {% elif task.get_status_display   == '已收到'  %}
                        <label class="label label-success">{{ task.get_status_display  }}</label>
                    {% elif task.get_status_display   == '已戴走'  %}
                        <label class="label label-success">{{ task.get_status_display  }}</label>
                    {% endif %}
                </div>
                <div>
                </div>

                开始时间：<span>{{ task.startTime  }}</span>
                结束时间：<span>{{ task.endTime  }}</span>


                <div>{% for t in task.tags.all %}
                        <label class="label label-success">{{ t.name }}</label>
                    {% endfor %}
                </div>


            </div>
        </div>
        {% endfor %}

    {% endif %}
</div>

<script language="JavaScript">
    function delete_data() {
        if(confirm('您确定要删除吗？')){
            return true;
        }else{
            return false;
        }
    }
    //设定提示
    toastr.options = {
                closeButton: false,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
                debug: false,                                                    // 是否使用deBug模式
                progressBar: true,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
                positionClass: "toast-top-right",              // 设置提示款显示的位置
                onclick: null,                                                     // 点击消息框自定义事件 
                showDuration: "300",                                      // 显示动画的时间
                hideDuration: "1000",                                     //  消失的动画时间
                timeOut: "2000",                                             //  自动关闭超时时间 
                extendedTimeOut: "1000",                             //  加长展示时间
                showEasing: "swing",                                     //  显示时的动画缓冲方式
                hideEasing: "linear",                                       //   消失时的动画缓冲方式
                showMethod: "fadeIn",                                   //   显示时的动画方式
                hideMethod: "fadeOut"                                   //   消失时的动画方式
            };
    $(document).ready(
         toastr.info('{{ msg }}')

        //等待两秒后隐藏通知
        {#setTimeout(function () {#}
             {#$('.alert').slideUp();#}
        {#{, 3000)#}
    );


    $(function () {
        $('#myModal2').on('hidden.bs.modal', function (e) {
          // do something...//alert("做些操作");
            $(this).removeData("bs.modal");
        });
    });
    //日期时间选择器
         $('#datetimepicker1').datetimepicker({
             showTodayButton:true,
             format:'YYYY-MM-DD',
         });
</script>


<!-- 添加task 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 编辑 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-2" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


{% endblock content %}