{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>新复诊</title>#}
{##}
{#    <meta name="description" content="File Upload">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <!-- Bootstrap styles -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >#}
{##}
{##}
{#    <!-- Generic page styles -->#}
{#    <!-- blueimp Gallery styles -->#}
    <link rel="stylesheet" href="/static/upload/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/upload/css/jquery.fileupload-ui.css">
{##}
{##}
{#</head>#}
{#<body>#}
{#<div class="container">#}

    <h3>x线资料上传</h3>
<!-- post xray 是其他地址，注意该-->
    <!-- The file upload form used as target for the file upload widget -->
<form type="file" id="fileupload" name="img" action="{% url 'boards:addpost_xray' patient.pk %}" method="POST"
      enctype="multipart/form-data">
        <!-- 新添加的-->
        {% csrf_token %}

{#        <div class=" form-group">#}
{#            <lable>患者姓名：{{ patient.name }}</lable><br><br>#}
{#            <lable>病历号  ：{{ patient.idnum }}</lable><br><br>#}
{#        </div>#}

        <div class=" form-group">
{#            <input type="checkbox" name="isFirst" value="1">是否初诊#}
{#            <input type="checkbox" name="isLast" value="2">是否结束#}
            <select name ='postType'>
                <option >复诊</option>
                <option value="102">复诊2</option>
                <option value="103">复诊3</option>
                <option value="104">复诊4</option>
                <option value="105">复诊5</option>
                <option value="106">复诊6</option>
                <option value="107">复诊7</option>
                <option value="108">复诊8</option>
                <option value="109">复诊9</option>
                <option value="110">结束</option>
            </select>
            <div class="form-group">
                <lable class=" control-label">备注  ：  （老照片日期）</lable>
                <input id="comment" type ="text" name="comment"  class="form-control" >
            </div>

        </div>
        <div class="col-lg-12" style="padding-bottom: 12px; padding-left: 0px">
            <div class="form-group " >
                <lable class=" control-label">新标签  ：</lable>
                <input id="newTagsText" type ="text" name="newTags"  class="form-control" >
{#                <button id="clear" class="btn btn-default" onclick="clear()">清除</button>#}
                <div class="col-lg-12" style="padding-left: 0px; padding-top: 12px; padding-bottom: 12px">
                    {% for t in tags %}
                    <span id="addTag" type="button"  class="label label-success" onclick="addText(this)">{{ t.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
{#            <button type="submit" class="btn btn-default">提交</button>#}
        </div>
        <script> //添加标签名到文本框
            function addText(t) {
               var x =  document.forms["fileupload"]["newTagsText"].value + " "+ t.innerHTML;
               document.forms["fileupload"]["newTagsText"].value = x;
            };
            function clear() {
                var obj = document.getElementById("newTagsText");
                obj.setAttribute("value", "");
            };

        </script>

        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="upfile/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加文件</span>
                    <input type="file" name="files[]" multiple   >
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>开始上传</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>清空列表</span>
                </button>
{#                <button type="button" class="btn btn-danger delete">#}
{#                    <i class="glyphicon glyphicon-trash"></i>#}
{#                    <span>删除</span>#}
{#                </button>#}
{#                <input type="checkbox" class="toggle">#}
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>

    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Demo Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>如果是老照片，最好备注拍摄日期</li>
            </ul>
        </div>
    </div>
{#</div>#}



<!-- The template to display files available for upload -->
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">正在处理...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>开始</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"  height="80"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>删除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}
<script src="/static/upload/js/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/static/upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/static/upload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/static/upload/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/static/upload/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="/static/upload/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="/static/upload/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/upload/js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="/static/upload/js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="/static/upload/js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="/static/upload/js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="/static/upload/js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="/static/upload/js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/static/upload/js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="/static/upload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
{#<script src="js/cors/jquery.xdr-transport.js"></script>#}
<![endif]-->
{##}
{#</body>#}
{#</html>#}





