{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    添加新病历
{% endblock %}

{% block link %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="../static/upload/js/jquery.min.js"></script>

{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
  <li class="breadcrumb-item active">添加新病例</li>
{% endblock %}

{% block content %}
 <style type="text/css">
        #result{
            width: 300px;
            height:140px;
            border:1px solid #eee;
        }
        #result img{
            width: 300px;
        }
        input{
            alignment: center;
            width: 200px;
            margin-top: 10px;
        }
 </style>


<div class="container">
    <h2 class="lead">输入患者信息</h2>
    <hr>

<div class="col-lg-12">


    <table class="col-lg-12">
    <form role="form"  id="fileupload" name="files[]" class="form-inline" action="/new/" method="POST" enctype="multipart/form-data">
        <!-- 新添加的-->
        {% csrf_token %}
        <tr>
            <td>
                <div class="form-group ">
                <lable class=" control-label">姓名：</lable>
                <input type ="text" name="name" placeholder="Name"  class="form-control" required="required">
                </div>
            </td>

            <td>
                <div class="form-group">
                <lable class="control-label">病历号：</lable>
                <input  name="ID"  class="form-control "  title="只能数字及字母"  required="required">
                </div>
            </td>
              <td>
                 <div class="form-group ">
                <lable class=" control-label">首字母：</lable>
                <input type ="text" name="nameCode" placeholder="Name"  class="form-control" >
                </div>
             </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                <lable class="control-label">性别：</lable>
                <input type="radio" name="sex" value="1">男
                <input type="radio" name="sex" value="2">女
                </div>
            </td>
            <td>
                <div class="form-group">
                <lable class="control-label">生   日：</lable>
                <input type="birth" name="startDate">
                </div>
            </td>
            <th rowspan="4">
                <div id = "result"></div>
                <input id="pic" type="file" name = 'file[]' accept = "image/*" onchange = "selectFile()"/>


            </th>
        </tr>
        <tr>
            <td>
                 <div class="form-group ">
                <lable class=" control-label">手机：</lable>
                <input type ="text" name="mobile" placeholder="手机号"  class="form-control" >
                </div>
            </td>
            <td>
                <div class="form-group ">
                <lable class=" control-label">E-mail：</lable>
                <input type ="text" name="email" placeholder="邮箱"  class="form-control" >
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                <lable class="control-label">QQ  ：</lable>
                <input  name="QQ"  class="form-control "  title="只能数字"  >
                </div>
            </td>
            <td>
                <div class="form-group">
                <lable class="control-label">微    信：</lable>
                <input  name="weixin"  class="form-control "  title="只能数字及字母"  >
                </div>
            </td>
        </tr>
        <tr>
            <td>
                 <div class="form-group ">
                <lable class=" control-label">工作：</lable>
                <input type ="text" name="occupation" placeholder="手机号"  class="form-control" >
                </div>
            </td>
            <td>
                <div class="form-group ">
                <lable class=" control-label">identityCard：</lable>
                <input type ="text" name="identityCard" placeholder="邮箱"  class="form-control" >
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                <lable class="control-label">homeAddress  ：</lable>
                <input  name="homeAddress"  class="form-control "  title="只能数字"  >
                </div>
            </td>
            <td>
                <div class="form-group">
                <lable class="control-label">  linkedcareId：</lable>
                <input  name="linkedcareId"  class="form-control "  title="只能数字及字母"  >
                </div>
            </td>
        </tr>

    </table>
         <div class="col-lg-12" style="padding-left: 0px;  padding-bottom: 12px">
            <hr>
            <div class="form-group " >
                <lable class=" control-label">添加标签  ：</lable>
                <input id="newTagsText" type ="text" name="newTags"  class="form-control" >
{#                <button id="clear" class="btn btn-default" onclick="clear()">清除</button>#}
                <div class="col-lg-12" style="padding-left: 0px; padding-top: 12px; padding-bottom: 12px">
                    {% for t in tags %}
                    <span id="addTag" type="button"  class="label label-success" onclick="addText(this)">{{ t.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

        <hr>
{##}
{#        <div class="row fileupload-buttonbar" >#}
{#            <div class="col-lg-7">#}
{#                <!-- The fileinput-button span is used to style the file input field as button -->#}
{#                <span class="btn btn-success fileinput-button">#}
{#                    <i class="glyphicon glyphicon-plus"></i>#}
{#                    <span>添加头像</span>#}
{#                    <input type="file" name="files[]"  >#}
{#                </span>#}
{##}
{#            </div>#}
{#        </div>#}
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>确认提交</span>
                </button>
    </form>

    <br>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">注意事项</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>姓名，病历号必须</li>
                <li>病历号只能是<strong>数字字母</strong> </li>
                <li>只能上传图像文件(<strong>JPG, GIF, PNG</strong></li>
                <li>支持多文件同时拖拽入窗口上传</li>
            </ul>
        </div>
    </div>
</div>

        <script> //添加标签名到文本框
            function addText(t) {
               var x =  document.forms["fileupload"]["newTagsText"].value + " "+ t.innerHTML;
               document.forms["fileupload"]["newTagsText"].value = x;
            };
            function clear() {
                var obj = document.getElementById("newTagsText");
                obj.setAttribute("value", "");
            };
            {#$(function () {#}
            {#    $("#clear").click(function () {#}
            {#        $("#newTagsText").val("");#}
            {#    });#}
            {#});#}

        </script>

　<!-- <button onclick = "handIn()">提交</button> -->
                <script type="text/javascript">
                    //var files = document.getElementById('pic').files;
                    var form = new FormData();//通过HTML表单创建FormData对象
                    var url = '127.0.0.1:8080/'
                    function selectFile(){
                        var files = document.getElementById('pic').files;
                        console.log(files[0]);
                        if(files.length == 0){
                            return;
                        }
                        var file = files[0];
                        //把上传的图片显示出来
                        var reader = new FileReader();
                        // 将文件以Data URL形式进行读入页面
                        console.log(reader);
                        reader.readAsBinaryString(file);
                        reader.onload = function(f){
                            var result = document.getElementById("result");
                            var src = "data:" + file.type + ";base64," + window.btoa(this.result);
                            result.innerHTML = '<img src ="'+src+'"/>';
                        }
                        console.log('file',file);
                        ///////////////////
                        form.append('file',file);
                        console.log(form.get('file'));
                    }

                </script>

{% endblock %}