<div data-role="news-item" class="news-box news-box-thr news-box-pic clear" data-media-id="460436" data-newsid="10" data-loc="1" data-cate-id="" data-tag-id="" data-evid="10220393">

        <h4><a href="" target="_blank">趣头条、拼多多背后的腾讯投资</a></h4>
        <div class="pic-group clear">
            <ul>
                <li class="img-do "><a href="" target="_blank"><img alt="" src="d1.jpeg"></a></li>
                
                <li class="img-do "><a href="" target="_blank"><img alt="" src="5.jpeg"></a></li>

                <li class="img-do "><a href="" target="_blank"><img alt="" src="5.jpeg"></a></li>   
            </ul>
        </div>
        <div class="other">
            <span class="img"><a href="" target="_blank"><img src="c.jpg" alt=""></a></span>
             
            <span class="name"><a href="" target="_blank">寻找中国创客</a></span>
            <span class="dot">·</span>
            <span class="time">昨天 09:45</span>
            
        </div>
 </div>