{% extends 'base.html' %}

{% block title %}患者详情{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
  <li class="breadcrumb-item active">患者信息</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
    <a href="./addpost" class="btn btn-primary">添加新复诊</a>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="col-lg-2"> <span style="font-size:20px">信息汇总</span> </div>
            <div class=" col-lg-offset-10">
                <a href="/edit/person{{patient.pk}}" class="label label-success">编辑</a>
                <a href="/del/person/{{patient.pk}}" class="label label-warning">删除患者</a>
            </div>
        </div>
        <div class="panel-body row">
            <div class="col-sm-6 col-md-3">
                <a href="{{ patient.icon }}" class="thumbnail">
                    <img src="{{ patient.icon }}" alt="头像缩略图" height="80"> </a>
            </div>
            <div class="col-sm-8 col-md-8">
                <div><h2><a href="/{{patient.pk}}">{{ patient.name }}</a> </h2> </div>
                <div>病历号：{{ patient.idnum }}</div>
{#                <div>标签：{{ patient.tags.all }} </div>#}
                <div >标签：
                    {% for t in patient.tags.all %}
                        <a class="label label-success" style="display: inline-block;" href="/tags/{{ t.name }}"
                           title="{{ t.name }}">
                            {{ t.name }}
                            <span class="badge">{{ count }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

        {% if posts %}
            {% for post in posts.all  %}

                <div class="panel panel-primary ">

                    <div class="panel-heading">
                        <div class="col-lg-2"> <span style="font-size:20px">阶段- <strong>{{ post.type }}</span> </div>
                        <div class=" col-lg-offset-11">
                            <a href="/del/person{{ patient.pk }}/post{{ post.pk }}" class="label label-success">删除</a>
                        </div>
                    </div>
                      <div class="panel-body row">
                        {% if post %}
                            {% for img in post.images.all %}
                                <div class="col-sm-6 col-md-3">
                                    <a href="{{ img.path }}" class="thumbnail">
                                        <img src="{{ img.thumbnail }}" alt="复诊缩略图" height="300">
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                      </div>
                </div>

            {% endfor %}
        {% endif %}


{% endblock %}