{% extends 'base.html' %}

{% block title %}病历管理系统
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
  <li class="breadcrumb-item active">{{ topics.name }}</li>
{% endblock %}

{% block content %}

<div class="col-lg-9 col-sm-12  ">
    <div class="md-8 ">
        <a href="{% url 'new_person'  %}" class="btn btn-primary">添加新患者</a>
    </div>
{#    <div class="try-online"><a class="btn-try btn btn-success btn-lg disabled"></a></div>#}
    <div class="panel panel-default">
      <div class="panel-body">
            <table class="table table-hover">
                <thead class="thead-inverse">
                  <tr>
                    <th>患者姓名</th>
                      <th>病历号</th>
                    <th>复诊次数</th>
                    <th>性别</th>
                      {% if user.username == 'zdl' %}
                      <td> 医生</td>
                      {% endif %}
                    <th>序号</th>
                    <th>最后上传时间</th>
                  </tr>
                </thead>
              <!--- 列表 --->
                <tbody>
                  {% for person in persons.all %}
                    <tr>
                      <td>
                        <a href="{% url 'person_detail' person.pk %}"><strong>{{ person.name }}</strong></a>
                        <small class="text-muted d-block">{{ person.idnum }}</small></td>
                      <td>{{ person.idnum }}</td>
                      <td> <span class="badge">{{ person.posts.count }} </span></td>
                        <td>{{ person.sex }}</td>
                        {% if user.username == 'zdl' %}
                            {% if not person.doctor %} <td> 无 </td>{% endif %}
                            {% if person.doctor %}  <td> {{ person.doctor }}</td> {% endif %}
                        {% endif %}

                        <td>{{ person.pk }}</td>
                      <td>{{ person.last_updated }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
      </div>
    </div>
</div>

<!--- 标签 --->

<div class="col-lg-3 col-sm-12 col-md-4">
{#    {% if article_tags_list %}#}
    <div class="panel panel-default">
        <div class="panel-heading">标签</div>
        <div class="panel-body">

            {% for t in tags %}
                <a class="label label-success" style="display: inline-block; margin-bottom: 10px; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05)" href="/tags/{{ t.name }}"
                   title="{{ t.name }}">
                    {{ t.name }}
                    <span class="badge">{{ t.persons.count }}</span>
                </a>
            {% endfor %}

        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5> 所有患者数目：{{ total }}</h5>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5> 请定期同步数据库</h5>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5> 所有患者数目：{{ total }}</h5>
      </div>
    </div>
{#{% endif %}#}
</div>

{% endblock %}