{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ topics.name }}</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_person'  %}" class="btn btn-primary">添加新患者</a>
  </div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Person</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for person in persons.all %}
        <tr>
          <td> 
            <a href="{% url 'person_detail' person.pk %}">{{ person.subject }}</a>
            <small class="text-muted d-block">aaaa</small></td>
          <td>{{ person.starter.username }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ person.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}