{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div>
        <lable class=" control-label">患者现有标签  ：</lable>
        {% for t in patient.tags.all %}
            <a class="label label-default" style="display: inline-block; {% include 'tag/tag_color.html' %}"
               href="/tags/{{ t.name }}"
               title="{{ t.name }}">
                {{ t.name }}
                <span class="badge">{{ count }}</span>
            </a>
        {% endfor %}
    </div>
    <p></p>
    <form role="form"  id="fileupload" name="files[]" class="form-inline" action="." method="POST" >
        {% csrf_token %}
        <div class="form-group " >
            <lable class=" control-label">待添加标签  ：</lable>
            <input id="newTagsText" type ="text" name="s"  class="form-control" >
            <button type="submit" class=" btn btn-primary   ">添加</button>

    {#                <button id="clear" class="btn btn-default" onclick="clear()">清除</button>#}

    {#                <div class="col-lg-12" style="padding-left: 0px; padding-top: 12px; padding-bottom: 12px">#}
    {#                    {% for t in tags %}#}
    {#                    <span id="addTag" type="button"  class="label label-success" onclick="addText(this)">{{ t.name }}</span>#}
    {#                    {% endfor %}#}
    {#                </div>#}
            <div>
                <hr>
                {% include 'tag/tag_list.html' with tag_islink=False %}

            </div>
        </div>
    </form>


</div>

<script> //添加标签名到文本框
            function addText(t) {
               var x =  document.forms["fileupload"]["newTagsText"].value + " "+ t.innerHTML;
               document.forms["fileupload"]["newTagsText"].value = x;
            };
            function clear() {
                var obj = document.getElementById("newTagsText");
                obj.setAttribute("value", "");
            };
            {#$(function () {#}
            {#    $("#clear").click(function () {#}
            {#        $("#newTagsText").val("");#}
            {#    });#}
            {#});#}

</script>

{% endblock %}
